$color1:#fff;
$color2:#000;
$color3:#EAEAEA;
$color4:#FFAB11;
$color5:#031A51;
$color6:rgba(3, 26, 81, 0.5);
$color7:rgba(255, 172, 17, 0.459);

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontsize0: 115px;
$fontsize1: 80px;
$fontsize2: 37px;
$fontsize3: 25px;
$fontsize4: 18px;

$height1: 700px;
$height2: 80px;


.article{
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-flex;
    margin: 10px;
    margin-left: 30px;

    .card{
    width: 290px;
    padding: 5px;
    height: 500px;
    padding-top: 30px;
    transition: all 0.8s;
    
    .card-body{
            .card-text1{
                padding-top: 20px;
                color: $color5;
                font-weight: bold;
            }

            .card-text2{
                color: $color5;
            }
            .btn{
                width: 120px;
                border-radius: 5px ;
                border: 1px solid $color5;
                background-color: $color5;
                color: $color1;
                margin-bottom: 25px;
                line-height: 2;
                transition: all 0.7s;
                text-align: center;
                text-decoration: none;
            }

            .btn:hover{
                background-color: $color4;
                border: 1px solid $color4;
                transform: scale(1.05);
                color: $color5;
            }

        } 
    }

    .card:hover{
        transform: scale(1.05);
        }
}

